
body{
    background-color: #000000;
    color:aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
pre{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-brand{
    color:aliceblue;
    margin-left: 30px;
}
.nav-link{
    color: rgb(122, 125, 128);
}

.nav-link:hover{
    color: aqua;
}
.nav-link{
    color: aqua;
}



@media (max-width:768px){
    #content{
        padding-top: 100px;
        
    }
}

.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    margin: auto;
    
    
    border-bottom: 2px solid rgb(255, 255, 255);
}
#intro{
    
    align-items: center;
}
.row{
    align-items: center;
}
#skills{
    display: flex;
}
.card{
    float: left;
    margin: 2%;
    
    width: 18em;
    height: 26em;
}
@media(max-width:768px){
    #details{
        padding-top: 40px;
    }
    
}
#details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
      display: inline-block;}
#details1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    display: inline-block;

}
#detail_txt {
    
    display: none; 
    position: absolute;
   
  }
  #detail_txt1 {
    
    display: none; 
    position: absolute;
   
  }

@media(min-width:768px){
    #details:hover{
        transform: scale(1.3);
        transition:300ms;}
    
    #details1:hover{
        transform: scale(1.3);
        
        transition:300ms;}
    }
    #ajinpic2:hover{
        transform: scale(1.1);
        transition:300ms;}
    #icon:hover{
        transform: scale(1.3);
        transition:300ms;}
    .card:hover{
        transform: scale(1.03);
        transition:300ms;}
    #ajinpic:hover{
        transform: scale(1.09);
        transition:400ms;
        border: 5px solid white;
        
        
    }
    
    
#hire:hover{
    background-color: rgb(7, 58, 148);
    color: aliceblue;
}

#cardid{
   justify-items: auto;
    
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
#bg-quality{
    font-size: 10vw;
    transform: scaley(1);
    justify-content: center;
    position: absolute;
    opacity: 0.1;
}
#bg-skills{
    font-size: 10vw;
    transform: scaley(1);
    justify-content: center;
    position: absolute;
    opacity: 0.1;
}
@media(max-width:768px){
    #ajinpic{
    
    
    padding: 10%;
    }
}
#bg-services{
    font-size: 10vw;
    transform: scaley(1);
    justify-content: center;
    position: absolute;
    opacity: 0.1;
}
#bg-projects{
    font-size: 10vw;
    transform: scaley(1);
    justify-content: center;
    position: absolute;
    opacity: 0.1;
    padding-top: 10px;
}
#bg-contact{
    font-size: 10vw;
    transform: scaley(1);
    justify-content: center;
    position: absolute;
    opacity: 0.1;
}
#bg-about{
    font-size: 10vw;
    transform: scaley(1);
    justify-content: center;
    position: absolute;
    opacity: 0.1;
}
#education{
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    float: left;
    
}
#experience{
    float: left;
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    float: left;
    margin:auto;
    margin-left: 5%;
}
#about-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    float: left;
    
}
#ajinpic2{
    width: 100%;
    opacity: 100%;
    
}
@media (min-width:768px){
    #ajinpic2{
        width: 80%;
        display: flex;

    }
    #details{
        padding: 3%;
    }
}
.progress{
    
    height: 30px;
    border-radius: 10px;
}
#bar{
    display: flex;
    flex-direction: row;
}
@media (max-width:768px){
    #bar{
        flex-direction: column;
        align-items: center;
        
        
    }
}
@media (min-width:768px){
    #bar{
        flex-direction: row;
        align-items: center;
        
        
    }
}
@media(min-width:768px){
    #bar2{
       margin-left: 10%;
        width: 80%;
    }
}
@media(max-width:768px){
    #bar2{
        margin-top: 4%;
        width: 90%;
        
    }
}
@media(min-width:768px){
    #bar1{
        
        width: 80%;
    }
}
@media(max-width:768px){
    #bar1{
        margin-top: 4%;
        width: 90%;
    }
}
#services-info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
   
}
#red{
    color: rgb(175, 5, 5);
}
#exampleFormControlInput1{
    height: 60px;
}
#exampleFormControlTextarea1{
    height: 120px;
}
#icons{
    display: flex;
    justify-content: space-between;
}
@keyframes action {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  .progress-bar{
    animation-name:action;
    animation-duration:  2s;
  }
  
  .edu{
    display: inline;
  }
  .card-title{
    color: rgb(15, 57, 172);
    font-weight: bold;
  }
  .card-text{
    font-weight: 2px;
  }
  #download{
    background-color: aliceblue;
  }
  #download:hover{
    transform: scale(1.08);
    transition:300ms;
    background-color:rgb(7, 58, 148);
    color: aliceblue;
}


#hire:hover{
    transform: scale(1.08);
    transition:300ms;
    background-color:rgb(7, 58, 148);
    color: aliceblue;
}